*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    background-color: pink;
}


p {
    font-size: 20px;
    color: pink;
}

h1 {
    color: purple;
}